@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.container2 {
  background-color: rgba(58, 55, 75, 0.5);
  color: #fff;
  border-radius: 0.625rem;
  padding: 20px;
  font-family: "Droid Serif";
  max-width: 700px;
  box-shadow: 4px 4px 4px black;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.body-without-footer {
  background-image: url(../image/bg5.jpg);
  min-height: calc(100vh);
  opacity: 1;
}

.question {
  width: 100%;
}

.options {
  position: relative;
  padding: 0px 0px 0.75rem 2.8125rem;
}

#options label {
  display: block;
  margin-bottom: 0.125rem;
  font-size: 1rem;
  padding-top: 1.44rem;
  cursor: pointer;
}

.options input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 1.25rem;
  left: 0;
  height: 1.5625rem;
  width: 1.5625rem;
  background-color: #555;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.options input:checked ~ .checkmark:after {
  display: block;
}

.options .checkmark:after {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 400ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark {
  background: blue;
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}

.qus .btn-primary {
  padding: 5px 25px;
  background-color: #555;
  color: #ddd;
  border: 1px solid #ddd;
}

.qus .btn-primary:hover {
  background-color: #21bf73;
  border: 1px solid rgb(31, 30, 30);
  color: #000;
}

body {
  width: 100%;
  font: 15px "Century Gothic", "Times Roman", sans-serif;
  background: #eee;
  min-height: 550px;
  background-attachment: fixed;
  min-height: 100%;
}
.body-with-footer {
  min-height: calc(100vh - 93px);
}

.bodyClass {
  background: url(../image/iiest6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: calc(100vh - 93px);
}

.display-off {
  display: none;
}

.modal.fade .modal-dialog {
  transform: translateY(-25%);
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  will-change: transform;
}
.modal.fade.show .modal-dialog {
  opacity: 1;
  transform: translateY(0%);
}

@font-face {
  font-family: "typo";
  src: url("../fonts/typo.ttf");
}

@font-face {
  font-family: "gothic";
  src: url("../fonts/gothics.ttf");
}

.panel {
  margin: 2.5rem;
  padding: 10px;
  font: 15px "Century Gothic", "Times Roman", sans-serif;
  background-color: transparent;
  text-align: center;
  animation-name: form-entry;
  animation-fill-mode: both;
  animation-duration: 3s;
}

.panel input,
.panel select {
  box-shadow: 0 10px 20px black;
}
.panel input:focus,
.panel select:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid blue;
  box-shadow: 0 10px 20px grey;
}

@keyframes form-entry {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    /* background-color: rgba(0, 0, 0, 0.15); */
  }
}

@media (max-width: 1024px) {
  .question {
    width: 100%;
    word-spacing: 2px;
  }

  .body-with-footer {
    min-height: calc(100vh - 205px);
  }

  .panel {
    width: 100%;
    margin: 40px 0;
    padding: 0;
  }

  .panel input:focus,
  select:focus {
    margin-left: 0px;
    transform: translateY(-0.15em);
    transition: 0.4s;
    border-bottom: 2px solid black;
  }
}

.already {
  display: block;
  margin-top: 15px;
  color: #00ffd0;
  font-weight: bold;
  text-decoration: none;
}
.already:hover {
  cursor: pointer;
  color: #00ffd0;
  text-decoration: underline;
  font-weight: bold;
}

.title {
  font-family: "typo";
}

.header {
  background: #202020;
  height: 70px;
}
.logo {
  display: block;
  font-family: "typo";
  font-size: 2.5rem;
  color: white;
  margin: 15px;
}

.title1 {
  font: 16px "Century Gothic", "Times Roman", sans-serif;
}
.title2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

.sub1 {
  width: 90px;
  color: #202020;
  background: orange;
  font-size: 15px;
  height: 35px;
  margin: 20px;
  padding: 10px;
  width: 100px;
}

.sub {
  width: 40%;
  background-color: #0d6efd;
  color: #fff;
  font-size: 20px;
  padding: 5px 0px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 4px 4px 4px black;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  transition: transform ease-out 0.3s;
}

.sub:hover,
.sub:focus {
  box-shadow: 0 0.5em 0.5em -0.4em adjust-hue(#fff, 45deg);
  transform: translateY(-0.15em);
  transition: 0.4s;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em adjust-hue(#fff, 45deg);
  transform: translateX(0.25em);
  transition: 0.4s;
}
.quizBtn {
  box-shadow: 4px 4px 4px black;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  transition: transform ease-out 0.2s;
}

.quizBtn:hover,
.quizBtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em adjust-hue(#fff, 45deg);
  transform: translateY(-0.15em);
  transition: 0.2s;
}
.sub:active {
  transform: scale(0.8);
  background-color: #2196f3;
}

footer {
  overflow-x: hidden;
}

.footer {
  font-size: 15px;
  text-align: center;
  border-top: 1px solid;
  border-color: #323232;
  background-color: #202020;
}

.footer a {
  margin: 25px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font: 15px "Century Gothic", "Times Roman", sans-serif;
  transition: all 0.2s ease-in-out;
}
.footer a:hover {
  color: #fff;
}

.box {
  padding: 9px;
}
hr {
  color: #000000;
}
.top {
  margin-top: 20px;
}
.log1 {
  font: 15px "Ubuntu", sans-serif;
  color: aqua;
  margin-left: 10px;
  margin-right: 15px;
}

.log {
  margin: 10px;
  margin-left: 5px;
  margin-right: 2px;
  color: aqua;
  text-decoration: none;
  font-size: 20px;
  font-size: 15px;
}
.log:hover {
  color: #9acd32;
  text-decoration: none;
}
